{{ partial "header.html" . }}
 <body
    lang="{{ .Site.LanguageCode }}"
    class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  >
    <section id="main">
      <div>
        <h1 id="title" class="f3">
          {{ .Site.Title }} {{ .Site.Params.TitleEmoji | emojify }}
        </h1>
        <ul class="list pl0">
          <!-- pages -->
          {{range .Site.Pages}} {{if eq .Type "razdel"}}
          <li class="b mv3">
            <a class="f3 b pa1 black" href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{end}} {{end}}

          <!-- prettier-ignore -->
          {{ range .Site.Params.menu }}
          <li class="b mv3">
            <a class="f3 b pa1 black" href="{{ .url }}">{{ .name }}</a>
          </li>
          <!-- prettier-ignore -->
          {{ end }}
        </ul>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
